
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
}

#map-container {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 90%;
    margin: rem;   
}

#title-text{
    color: black;
    font-size: 3rem;
    display: flex;
    flex-direction: column;

margin-top: .5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

#map {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 50%;
    height: 450px;
   
}




#thumbnails-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    background-color:white;
    border: 1px solid black; /* Add border */
    overflow-y: auto;
    padding: 10px;

}

#thumbnails-panel img {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 90px;
   
}



#text-container {
    display: flex;
    flex-direction: column;
   
}

#location-title, #location-text, #distance-text {
   
    font-size: 1.1rem; /* Adjust font size as needed */
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

#thumbnails-panel {
    margin-top: px; /* Adjust margin as needed */
}


#location-info {
    position: fixed;
    top: 0;
    left: 0;
    width: 12%;
    height: 100%;
    background-color:white;
    border: 1px solid black; /* Add border */
    overflow-y: auto;
    padding: 10px;

}



#snapshot-button{
    width: 90%;
    margin-top: .5rem;
    font-family: Arial, Helvetica, sans-serif;


}
#refresh-button{
    width: 90%;
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
 
    
}

#clear-snapshots-button{
    width: 90%;
    margin-top: .5rem;
    font-family: Arial, Helvetica, sans-serif;
 
}
.thumbnail-container p {
    margin-top: -7px;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;


}

#snapshot-container{

padding-right: 1rem;
padding-top: 1rem;
}




@media screen and (max-width: 1000px) {
    #map {
      
width: 500px;
        height: 60%;
  
    }
/* Keep previous CSS */

#location-info {
   /* Hide location info panel by default on mobile */
   display: flex;
   flex-direction: column;

    position: absolute;
    margin-top: 140%;

    border: 1px solid black; /* Add border */
  
    width: 100%;


 
  
    padding: 10px;
}
#snapshot-button{
    width: 86%;
    margin-top: .5rem;
    font-family: Arial, Helvetica, sans-serif;


}
#refresh-button{
    width: 86%;
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
 
    
}

#clear-snapshots-button{
    width: 86%;
    margin-top: .5rem;
    font-family: Arial, Helvetica, sans-serif;
 
}
}